@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.container {
    width: 906px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D7D7D;
}

.flex {
    display: flex;
}

.menu {
    gap: 100px;
    margin-left: 163px;
    margin-top: 71px;
}

.menu .el1 {
    color: #3FAA3F;
}

/* ------------------Sect_1------------- */
.section_1 {
    margin-top: 92px;
}

.div_1 {
    width: 420px;
    height: 214px;
}

.section_1-wrap {
    gap: 65px;
}

.p_1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 62px;
    margin-bottom: 32px;
    color: #B4AD9E;
}

.h2_1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}

.p_2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    margin-top: 10px;
}

/* ------------------Sect_2/3------------- */
.section_2 {
    margin-top: 120px;
}

.p_3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #B4AD9E;
}

.h2_2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}

.p_4 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    margin-top: 40px;
}

/* ------------------button------------- */
.button {
    margin-top: 94px;
    margin-bottom: 66px;
    justify-content: center;
}

.btn {
    font-family: 'Playfair Display', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    align-items: center;
    justify-content: center;
    padding: 20px 48px 21px 49px;
    color: #626262;
    border: 1px solid #626262;
}